<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bizOnline.fr</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="gestion de stoke, stoke"/>
    <meta name="author" content="<%= composent.title %>, famady kebe"/>
    <meta name='language' content='fr'>
    <meta name='robots' content='index,follow'>
    <meta name='revised' content='5 days'>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link href="assets/css/<%=namestylesheet%>.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">

    <script src="assets/js/app.js"></script>
  </head>
  <body>

  <div class="container">


    <header id="header">

        <a href="" id="logo"><h1 class="title_logo">bizOnline</h1></a>

        <%- include nav.ejs %>

    </header>

    <h2 class="titrre-page"><%= title %></h2>
